@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

*,
*::before,
*::after {
  user-select: none;
  -webkit-user-select: none;
}

@media (pointer: fine) {

  *,
  *::before,
  *::after {
    cursor: none !important;
  }
}

/* Hide scrollbar but keep scrolling */
html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

html::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

/* Lenis Smooth Scroll Recommended CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}